#label{
    font-family: var(--normal-font);
    font-size: 20px;
    color: var(--fourth-color);
}

#donatedMoney{
    width: 20%;
    padding: 8px;
    margin: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 0.5px groove grey;
}

.converter{
    display: flex;
    flex-direction: row;
    align-items: center;
}
