.carousel{
    width:500px;
    height:200px;
    display: flex;
    align-items: center;
    border-radius: 25px;
    align-self: center;
}
.carousel img {
    min-width:500px;
    min-height:300px;
    border-radius: 25px;
}

@media (max-width: 700px){
    .carousel{
        width: 300px;
        height: 200px;
    }
    .carousel img{
        min-width: 300px;
        min-height: 200px;
    }
}