.updatedImgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.updatedImgContainer img{
    max-width:100%;
    max-height:100%;
    border-radius: 25px;
}

.row{
    border: 2px groove rgba(128, 128, 128, 0.11);
    border-radius: 25px;
    margin-bottom: 20px;
}

#updateCategory, #updateDate{
    color: rgba(143, 141, 141, 0.699) !important;
    font-size: 15px !important;
}

#organizationInfos > *{
    font-family: var(--normal-font);
    color: var(--fourth-color);
    font-size: 19px;
    text-align: justify;
}
#title{
    font-size: 30px;
    font-family: var(--titles-font);
}

#organizationInfos{
    max-width:100%;
    max-height:100%;
}

.updateSection{
    margin-left: 85px;
}

.updates{
    margin-top: 20px;
}
