.signupcontainer {
    width: 50%;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 2px solid var(--fourth-color);
    border-radius: 20px;
    padding-bottom: 25px;
  }
  .signupcontainer h1 {
    margin-top: -30px;
    margin-left: 20px;
    background-color: white;
    width: 15%;
    font-family: var(--titles-font);
    text-align: center;
    color: var(--fourth-color);
  }
  @media (max-width: 1035px) {
    .signupcontainer h1 {
      width: 27%;
    }
    .signupcontainer {
      width: 60%;
      margin-left: 20%;
    }
  }
  .signupcontainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inputs {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .inputs label {
    font-family: var(--normal-font);
    color: var(--fourth-color);
    font-size: 20px;
    margin-bottom: 10px;
  }
  .filelabel{
    height: 25px;
    border-radius: 5px;
    border: 2px solid var(--fourth-color);
    color: var(--fourth-color);
    padding:2px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .inputs input {
    height: 25px;
    border-radius: 5px;
    border: 2px solid var(--fourth-color);
    color: var(--fourth-color);
  }
  .inputs input[type="file"] {
    display: none;
  }
  .inputs input:focus {
    outline:none;
  }
  .signupcontainer button {
    font-size: large;
    font-weight: bold;
    width: 70%;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  .link{
      text-align: center;
  }
  