.signincontainer {
  width: 50%;
  margin-left: 25%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 2px solid var(--fourth-color);
  border-radius: 20px;
  padding-bottom: 25px;
}
.signincontainer h1 {
  margin-top: -30px;
  margin-left: 20px;
  background-color: white;
  width: 15%;
  font-family: var(--titles-font);
  text-align: center;
  color: var(--fourth-color);
}
@media (max-width: 1035px) {
  .signincontainer h1 {
    width: 27%;
  }
  .signincontainer {
    width: 60%;
    margin-left: 20%;
  }
}
.signincontainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputs {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.inputs label {
  font-family: var(--normal-font);
  color: var(--fourth-color);
  font-size: 20px;
  margin-bottom: 10px;
}
.inputs input {
  height: 25px;
  border-radius: 5px;
  border: 2px solid var(--fourth-color);
  color: var(--fourth-color);
}
.inputs input:focus {
  outline:none;
}
.signincontainer button {
  font-size: large;
  font-weight: bold;
  width: 70%;
  height: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.links {
  color: var(--fourth-color);
  width: 70%;
  height: 30px;
  display: flex;
  align-items: center;
  margin-left: 15%;
  margin-bottom: 5px;
}
.links:hover {
  background-color: var(--first-color);
  border-radius: 5px;
}
.link {
  color: var(--fourth-color);
  margin-left: 5px;
  text-decoration: none;
  width: 90%;
}
