.donationHistory {
    position: relative;
    display: flex;
    width: 56%;
    height: 900px;
    margin-top: -46%;
    margin-bottom: 66px;
    margin-left: 38%;
    background-color: var(--first-color);
    border-radius: 15px;
}
.wrapper{
    position: absolute;
    padding-bottom: 0px;
    margin-top: 2%;
    margin-left: 1%;
    border-radius: 28px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow:12px;
}

 .wrapper h4{
    margin-top: 10px;
    margin-left: 10px;
    font-family: var(--titles-font);
    color: var(--fourth-color);
    font-size: 30px;
    font-weight:500;
    text-decoration: underline;
    text-decoration-color: var(--second-color);
    


}
.totalDonations{
    position: absolute;
    border-radius: 28px;
    margin-left: 513px;
    margin-top: 2%;
    padding-bottom: 58px;
    padding-right: 64px;
    background-color: white;
}
.totalDonations h2{
    font-family: var(--normal-font);
    font-size: 80px;
    color: var(--second-color);
    margin-left: 10px;
    
}
.totalDonations h4{
    font-family: var(--normal-font);
    font-size: 15px;
    color: var(--third-color);
    margin-top: -15px;
    margin-left: 13px;
}
.totalOrganizations{
    position: absolute;
    border-radius: 28px;
    margin-left: 513px;
    margin-top: 23%;
    padding-bottom: 58px;
    background-color: white;

}
.totalOrganizations h2{
    font-family: var(--normal-font);
    font-size: 80px;
    color: var(--second-color);
    margin-left: 10px;
    
}
.totalOrganizations h4{
    font-family: var(--normal-font);
    font-size: 15px;
    color: var(--third-color);
    margin-top: -15px;
    margin-left: 13px;


}
.container{
    position: absolute;
    width: 100%;
    height: 80%;
    border-radius: 15px;
    align-content:center;
    position: absolute;
    justify-content: center;
    margin-left: -1%;
    margin-top: 400px;
    
}
.container .title{
    width:fit-content;
    font-family: var(--titles-font);
    font-size:25px;
    color: var(--fourth-color);
    margin-left: 30%;
    margin-top: 2%;
    text-align: center;
    border-radius: 10px;
}
#donationHistoryTable {
    border-collapse: collapse;
    width: 100%;
    height: 1000px;
    margin-left: 20px;

  }
.tableContainer{
  height: 400px;
  overflow: auto;

  }
    
  #donationHistoryTable th {
    font-size:20px;
    font-weight:500;
    top: 0;
    background-color:var(--second-color);
    color: var(--fourth-color);
    height: 30px;


  }
    
  #donationHistoryTable td,tr,th {
    font-family: var(--normal-font);
    

  }
  #donationHistoryTable td,tr{
    color: var(--third-color);
    font-weight:normal;


  }
  
  
  #donationHistoryTable tr:nth-child(n){
    background-color: #FFFFFF;

  }
  
  
 #donationHistoryTable tr:hover{
     background-color:  #ddd;

 }
 #donationHistoryTable tr:hover td{
   color: var(--second-color);
   font-weight: bold;
   font-size: large;


 }
 
