.editprofile {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 56%;
    height: 900px;
    margin-top: -48.2%;
    margin-bottom: 66px;
    margin-left: 38%;
    background-color: var(--first-color);
    border-radius: 15px;

    
}
.editprofile h3{
    position: absolute;
    margin-top: 20px;
    margin-left: 180px;
    font-family: var(--normal-font);
    color: var(--fourth-color);
    font-weight: bold;
}
.editprofile .form{
    font-family: var(--normal-font);
    color: var(--fourth-color);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding: 1px 35px;
    margin-top: 10%;
}
.settingsInput{
  border-radius: 5px;
  border-color:#FFFFFF ;
  border-width: 1px;
  height: 40px;
    
}
.bio{
  border-radius: 5px;
  border-color:#FFFFFF ;
  border-width: 1px;
  height: 100px;
 
}
.actionForm{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10%;
  
}
.saveButton{
  background-color: var(--second-color);
  border-radius: 5px;
  width: 20%;
  height: 100%;
  font-family: var(--normal-font);
  color: var(--fourth-color);
  border: 1px groove ;
  margin-left: -1%;
  }
.cancelButton{
  background-color: var(--first-color);
  border-radius: 5px;
  width: 20%;
  height: 100%;
  font-family: var(--normal-font);
  color: var(--fourth-color);
  border: 1px groove var(--fourth-color);
  margin-left: 5%;


}

