.navigation{
    position: relative;
    background-color: var(--first-color);
    height: fit-content;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 4%;
    flex:0.9;
    font-family: var(--normal-font);
    font-size: 20px;
    color: var(--third-color);
}
.nav{
    background-color: white;
}
.activelink Button{
    width: 100%;
    height: max-content;
    margin-left: -20px;
    border-radius: 5px;
    border: 1px groove white;
}
.link button{
    width: 100%;
    margin-left: -20px;
    border-radius: 5px;
    background-color: var(--first-color);
    border: 1px groove white;



}

