.attributeSection{
    font-family: var(--normal-font);
    color: var(--third-color);
    margin-left: 50px;
    /* background-color: tomato; */
}

button{
    padding: 0.3em 1.5em;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 0.5em;
    background: #ffffff;
    border: 1px solid var(--first-color);
    transition: all .3s;
    font-family: var(--normal-font);
    color: var(--third-color);
    margin-top: 5px;
    width: 20%;
}
button:hover{
    border: 1px solid var(--second-color);
    transition: 0.2s;
}

.attributesForm{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    row-gap: 15px;
    flex: 1 1 auto;
}
.attributesForm input{
    border-radius: 20px;
    padding: 15px;
    height: 50px;
    width: 80%;
    border: 0.5px groove rgba(128, 128, 128, 0.363);
}
.attributesForm input:focus{
    background-color: rgba(128, 128, 128, 0.068);
    border: 0.5px groove rgba(255, 255, 255, 0.363);
}

/*********** Single Attribute CSS styles *****************/
#singleAttribute{
    /* padding-top: 10px;     */
    margin: 5px;
}
.radioButtons{
    align-self: center;
    display: flex;
    /* margin-left: -200px; */
    flex-direction: row;
    justify-content: center;
    width: 80%;
    align-items: center;
    /* background-color: chocolate; */
    column-gap: 40px;
    /* flex: row; */
    /* justify-content: center; */
}

.radioBtnItem{
    display: flex;
    flex-direction: column;
}

.buttons{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 40px;
}

#submitBtn{
    background-color: var(--second-color);
}
#submitBtn{
    background-color: var(--second-color);
}
#submitBtn:hover{
    opacity: 0.8;
}
