.container{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--first-color);
    background-color: var(--first-color);
    padding-top: 10px;
    margin-bottom: 10px;
}
.AppHeader{
    padding: 0.3em 1.5em;
    margin-bottom: 10px;
    max-width: 200px;
    font-size: 18px;
    border-radius: 0.5em;
    background: #ffffff;
    border: 1px solid white;
    transition: all .3s;
    box-shadow: 6px 6px 12px var(--first-color);
    font-family: var(--normal-font);
    color: var(--third-color);
    margin-top: 5px;
    margin-left: 50px;
}

.AppHeader:hover{
    cursor: pointer;
    border: 1px solid var(--second-color);
}
.formSection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.item{
    width: 100%;
}

#imageUploader{
    width: 50%;
    height: auto;
}
/********* Text Editor styles **************/
.textAreaContainer{
    margin-left: 50px;
    border: 1px groove rgba(128, 128, 128, 0.137);
    border-radius: 20px;
    width: 90%;
    min-height: 100%;
    padding: 15px;
}
.textAreaContainer:focus { 
    outline: none !important;
    border-color: var(--second-color);
    box-shadow: 0 0 9px var(--second-color);
 }
 #imageUploader{
     /* margin-left: 20px; */
     /* margin-top: 0px; */
     width: 70%;
 }

#textEditorItem{
    height:100%;
}
