.container{
    display: flex;
    border: 1px solid var(--first-color);
}
#left{
    background-color: var(--first-color);
    flex: 1.5 1 auto ;
    padding-top: 10px;
}
#right{
    /* background-color: rgb(241, 206, 206); */
    flex: 1 2 auto;
}
.split{
    /* flex: 1 1 auto; */
    margin-bottom: 10px;
}