.profile{
    display:flex;
    flex-direction: column;
    border: 3px solid var(--second-color);
    border-radius: 20px;
    padding: 10% 5%;
    margin-bottom: 20px;
    align-items: center;
}
.profile img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.profile h1,h3{
    font-family: var(--normal-font);
    color: var(--fourth-color);
    font-size: 20px;
}
.profile h1{
    font-size: 30px;
}
.profile button{
    border-radius: 5px;
    width : 80%;
    margin-bottom: 10px;
}
.mylink{
    text-decoration: none;
    font-family: var(--normal-font);
    color: var(--fourth-color);
    margin-top: 0;
}