.dashboard {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.profile {
  flex: 0.2;
}
.statistics {
  flex: 0.75;
}
.users {
  display: flex;
  justify-content: space-between;
}
