.newadmin{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.profile{
    flex:0.2;
}
.right{
    flex:0.75;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.right h1{
    font-family: var(--normal-font);
    text-align: center;
    color:var(--fourth-color);
    padding : 10px 0;
}