.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}
.projects h1{
    color:var(--fourth-color);
    font-family: var(--titles-font);
    padding:10px;
}
.projects thead{
    background-color: var(--first-color);
}
.projects td{
    border: 1px solid var(--fourth-color);
}
.projects table{
    width: 100%;
    border-radius: 20px;
    border: 1px solid var(--fourth-color);
    text-align: center;
    font-family: var(--normal-font);
}
.line td{
    padding: 10px;
    font-size: 90%;
}
.header{
    font-weight: bolder;
}