.dashboard {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0px;
  background-color: var(--first-color);
}
.charts {
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  flex: 0.3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.monthlydonations {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectsprogression {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectsprogression h1,
.monthlydonations h1 {
  font-family: var(--titles-font);
  color: var(--fourth-color);
  margin-bottom: 20px;
}
.informations {
  flex: 0.3;
  display: flex;
  flex-direction: column;
}
.pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}
.pages h1 {
  font-family: var(--titles-font);
  color: var(--fourth-color);
}
.pages button {
  margin: 10px;
  width: 80%;
  border-radius: 5px;
  height: 30px;
}
.link {
  text-decoration: none;
  color: var(--fourth-color);
}
.events {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
