body {
  --first-color: #fff89a;
  --second-color: #ffc900;
  --third-color: #086e7d;
  --fourth-color: #086e7d;

  --titles-font: "Dancing Script", cursive;
  --normal-font: "Poppins";

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
